# Ignore Eclipse files
.project
.buildpath
.settings

# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
cache/
files/
sites/*/files
sites/*/private

# Ignore default text files
.htaccess
robots.txt

# Ignore sql dumps
*.sql
*.sql.tar.gz
*.mysql
*.mysql.tar.gz
