@charset "utf-8";
/* CSS Document */
#edit-search_block_form_keys {
	float:left;
	width: 117px;
	margin-right:10px;
}
.form-submit {
	padding:3px 10px;
}
#st_center .field-field-image {
}

.search-button {
	padding:3px 0;
}
