/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;}

body {font-family: Arial, sans-serif;font-size:12px;margin: 0;line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}

.first, .first a {margin-left:0;padding-left:0;}
.last, .last a {margin-right:0;padding-right:0;}
.top, .top a {margin-top:0;padding-top:0;}
.bottom, .bottom a {margin-bottom:0;padding-bottom:0;}

/* typography.css */
h1, h2, h3, h4, h5, h6 {margin: 10px 0; font-weight:bold;}
h1 {font-size: 180%;line-height:1;}
h2 {font-size: 155%;}

h3 {font-size: 130%;}
h4 {font-size: 100%; font-weight:bold;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

p {margin:10px 0;}
p img {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:10px 0 10px 10px;}

hr {}

a {text-decoration:none;}
a:focus, a:hover {text-decoration: underline;}
a img {border:none;}

blockquote {margin:10px;font-style:italic;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}

pre, .code {font: 1em/1.5 "Courier News", monospace;margin: 5px 0 15px;padding: 10px 15px;}

strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {}
address {margin:0 0 1.5em;font-style:italic;}
del {}
li ul, li ol {margin:0 10px;}
ul{margin: 10px 0;}
ol{margin:10px 0 10px 10px;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1em 0;}
ul li, ol li { margin: 0 0 0 1.5em;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1em;width:100%;}
th {font-weight:bold;}
th, td {padding:4px 10px 4px 5px;}
tr.even td {}
tfoot {font-style:italic;}
caption {}
.small {font-size:90%;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:120%;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {}
.loud {}
.highlight {}
.added {}
.removed {}
.error {color:#FF0000;}
.message {color:#17A1C8;}
.tips {font-style:italic;}
.rss {}

